In [1]:
#import libraries
import pandas as pd

In [20]:
student_information={
    'Roll_Number':[11,12,13,14],
    'Student_Name':['Radha','Rahul','Ankush','Rajesh'],
    'C':[66,56,47,33],
    'C++':[99,45,22,98],
    'Java':[90,43,22,19],
    'Python':[80,66,92,55],
}

In [21]:
df=pd.DataFrame(student_information)

print(df)#Printing the DataFrame

   Roll_Number Student_Name   C  C++  Java  Python
0           11        Radha  66   99    90      80
1           12        Rahul  56   45    43      66
2           13       Ankush  47   22    22      92
3           14       Rajesh  33   98    19      55

In [22]:
#save DataFrame to a csv file
df.to_csv('student_information.csv')

In [23]:
#Reading the csv file

df = pd.read_csv('student_information.csv')

In [ ]:
#Print the DataFrame after reading from the CSV file
print(df)

   Unnamed: 0  Roll_Number Student_Name   C  C++  Java  Python
0           0           11        Radha  66   99    90      80
1           1           12        Rahul  56   45    43      66
2           2           13       Ankush  47   22    22      92
3           3           14       Rajesh  33   98    19      55

In [30]:
#Drop (delete) the 'Student_Name','C' ,'Python' columns from the dataframe

df_new=df.drop(columns=['Student_Name','C','Python'])
print(df_new)    #Print the DataFrame after dropping the columns

   Unnamed: 0  Roll_Number  C++  Java
0           0           11   99    90
1           1           12   45    43
2           2           13   22    22
3           3           14   98    19