<h2><p>Create a SQL table </p></h2>

In [16]:
import sqlite3 as sql

In [17]:
#create a connection with a database
connection=sql.connect('1.1-library_db')

In [18]:
#create cursor object using the connection
cursor=connection.cursor()

In [19]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS members (
    Member_Id  PRIMARY KEY,
    Name VARCHAR(50),
    Email VARCHAR(50) ,
    Join_Date DATE );
               ''')

In [20]:
connection.commit()

In [21]:
cursor.execute('''
               
insert into members(Member_Id, Name,Email,Join_Date)
values(2322001,'Isha','ishadhiman200@gmail.com','11-01-2022');
               ''')

In [22]:
cursor.execute('''
insert into members(Member_Id, Name,Email,Join_Date)
values(2322010,'Deepika','Deepika810@gmail.com','23-08-2010');
               ''')

In [23]:
cursor.execute('''
insert into members(Member_Id, Name,Email,Join_Date)
values(2322810,'Neha','nehaarya001@gmail.com','17-03-2012');
               ''')

In [24]:
cursor.execute('''
insert into members(Member_Id, Name,Email,Join_Date)values(2311001,'vishal','vishal230299@gmail.com','20-01-2024');

''')

In [25]:
cursor.execute('''
select*from members;
''')
results_1=cursor.fetchall()

In [26]:
import pandas as pd
df_1=pd.DataFrame(results_1)
df_1

         0        1                        2           3
0  2322001     Isha  ishadhiman200@gmail.com  11-01-2022
1  2322010  Deepika     Deepika810@gmail.com  23-08-2010
2  2322810     Neha    nehaarya001@gmail.com  17-03-2012
3  2311001   vishal   vishal230299@gmail.com  20-01-2024

In [27]:
#list of al members who joined after november 20 ,2024.
cursor.execute('''
select*from members where Join_Date>'20-11-2024';
''')
results_2=cursor.fetchall()

In [28]:
df_2=pd.DataFrame(results_2)
df_2

         0        1                     2           3
0  2322010  Deepika  Deepika810@gmail.com  23-08-2010