<h2><p>Create a SQL table</h2></p>

In [1]:
import sqlite3 as sql

In [2]:
connection=sql.connect('deepika_1')

In [3]:
cursor=connection.cursor()

In [4]:
cursor.execute('''
CREATE TABLE Books (
    Book_Id INT PRIMARY KEY,
    Title VARCHAR(255),
    Author VARCHAR(255),
    Published_Year INT,
    Available_Copies INT
);
               ''')

In [5]:
connection.commit()

In [11]:
cursor.execute('''
insert into Books(Book_Id,Title,Author,Published_Year,Available_Copies)
               values(201,'Pride and Prejudice','Jane Austen',1813,4);         

''')

In [ ]:
cursor.execute('''
insert into Books(Book_Id,Title,Author,Published_Year,Available_Copies)
               values(202,'The Catcher in the Rye','J.D. Salinger',1951,1);         

''')

In [14]:
cursor.execute('''
insert into Books(Book_Id,Title,Author,Published_Year,Available_Copies)
               values(203,'To Kill a Mockingbird','Harper Lee',1960	,5);         

''')

In [15]:
cursor.execute('''
insert into Books(Book_Id,Title,Author,Published_Year,Available_Copies)
               values(204,'The Great Gatsby	','F. Scott Fitzgerald',1925,3);         

''')

In [16]:
cursor.execute('''
insert into Books(Book_Id,Title,Author,Published_Year,Available_Copies)
               values(205,'1984	','George Orwell',1949,2);         

''')

In [17]:
cursor.execute('''
select*from Books;
''')
results_1=cursor.fetchall()

In [18]:
import pandas as pd
df_1=pd.DataFrame(results_1)
df_1

     0                       1                    2     3  4
0  201     Pride and Prejudice          Jane Austen  1813  4
1  202  The Catcher in the Rye        J.D. Salinger  1951  1
2  203   To Kill a Mockingbird           Harper Lee  1960  5
3  204      The Great Gatsby\t  F. Scott Fitzgerald  1925  3
4  205                  1984\t        George Orwell  1949  2